@media(max-width:600px){
    .messages{
        width: 80vw;
        margin-top: 50px;
    }
    .content{
        min-height: 100px;
    }
    .content .info{
        padding: 10px 10px;
    }
    /* .messages .form button{
        margin-left: 110px;
    } */
    .content .info .username{
        left: 45px;
        top: 15px;
    }
    .content .info img{
        width: 40px;
        height: 40px;
    }
    .content .info .data{
        position: absolute;
        top: 70px;
        left: 50px;
    }
}

/* @media (min-width:400px) and (max-width:450px){
    .messages .form button{
        margin-left: 150px;
    }
}

@media (min-width:700px) and (max-width:800px){
    .messages .form button{
        margin-left: 200px;
    }
}

@media (min-width:801px) and (max-width:900px){
    .messages .form button{
        margin-left: 220px;
    }
}

@media (min-width:900px) and (max-width:1100px){
    .messages .form button{
        margin-left: 333px;
    }
} */